html {
	background: #018ded url(http://unsplash.it/1500/1000?image=881&blur=50);
	background-size: cover;
	font-family: 'helvetica neue', sans-serif;
	text-align: center;
	font-size: 10px;
}

body {
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 20px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),
	inset 0 0 0 3px #efefef,
	inset 0 0 10px black,
	0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
}

.hand {
	position: absolute;
	left: 50%;
	bottom: 50%;
	height: 50%;
	transition: transform .05s cubic-bezier(0, 2, .5, 1);
	transform-origin: 50% 100%;
}

.hand::before {
	content: '';
	display: block;
	position: relative;
	bottom: 0;
	border-radius: 42.5%;
	border: 3px solid black;
	height: 100%;
}

.hour-hand {
	height: 37.5%;
}

.second-hand::before {
	border: 2px solid red;
}
